container_commands:
    01-no_dev:
        command: "composer.phar install --optimize-autoloader"
    02-key_generate:
        command: "php artisan key:generate"
    03-config_clear:
        command: "php artisan config:clear"
    04-view_clear:
        command: "php artisan view:clear"
    06-view_cache:
        command: "php artisan view:cache"